
.topBanner{
	width: 100%;
	height: 80px;
	background:url(../img_top/top1.jpg) no-repeat top center;display: block;
}
.two{
	width: 100%;
	/*background: red;*/
}
.topMenu{
	width: 100%;height: 33px;
	line-height: 33px;
	background: #F7F7F7;
	border-bottom: solid 1px #eee;
}
.topHead{
	height: 104px;
}
/*nav*/
.topNav{
	width: 100%;
    height: 32px;
    border-bottom: 2px solid #679800;
}
/*---*/
.mLeft{
	float: left;
}
.mLeft li{
	float: left;
}
.mRight{
	float: right;
}
.mRight li{
	float: left;
	margin-right: 20px;
}
/*head*/
.pic_log,.gif,.form{
	float: left;
	margin-right: 28px;
}
.form input{
	border: 1px solid #669900;
    width: 425px;
    height: 34px;
    padding: 0 0 0 4px;
    vertical-align: middle;
    float: left;
}
.form button{
	margin: 0px;
    height: 36px;
    width: 80px;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    border: 0;
    background: #669900;
    color: #FFF;
}
.pic_log{
	margin-top: 10px;
}
.gif{
	margin-top: 16px;
}
.form{
	margin-top: 30px;
}
/*nav*/
.dt,.dd{
	float: left;
}
.dt a{
	height: 32px;
    line-height: 32px;
    display: block;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    width: 200px;
    text-align: center;
    text-decoration: none;
    background: #669900;   
}
#allSort {
    margin-top:34px ;
    z-index: 998;
    padding: 0;
    width: 200px;
    height: 480px;
    position: relative;
    left: -200px;
    background-color: #76ac25;
	padding-top: 8px;
	padding-left: 15px;
	box-sizing: border-box;
    /*display: none;*/
}
.all {
	overflow: hidden;
}
.menu1{
	position: relative;
	left: 217px;
    top: -511px;
}
.menu1 ul li{
	float: left;
	color: #669900;
	margin-right: 50px;
}
.menu1 ul li:nth-child(1) a{
	color: #669900;
	margin-left: 25px;
}
.menu1 ul li a{
	font-weight: bold;
	font-size: 14px;
	color: #333;
	line-height: 32px;
}
.menu1 ul li a:hover{
	color: #669900;
}
/*quanbufenlei*/
.dd{
    padding-top: 8px;
    padding-left: 15px;
}
.item {
	width: 200px;
    height: 58px;
    position: relative;
}
.item h3 {
    font-weight: normal;
    font-size: 14px;
    padding-top: 5px;
    line-height: 22px;
}
.next{
	width: 560px;
	height: 480px;
	background: url("../img_top/bjt.jpg") bottom no-repeat yellowgreen;
	position: absolute;
	left: 185px;
	top:-8px;
	z-index: 999;
	display: none;
	opacity: 0.98;
}
.cat-sort {
	width: 542px;
	height: 248px;
	padding: 8px 0 24px 10px;
}
.cat-sort dl {
	overflow: hidden;
	zoom: 1;
	padding: 1px 0 0 0;
}
.cat-sort dt {
	width: 80px;
	padding-right: 10px;
	float: left;
	text-align: right;
	height: 18px;
	line-height: 18px;
	margin: 4px 0;
	color: #76ac25;
}
.cat-sort dt a {
	color: #76ac25;
}
.cat-sort dt a:hover{
	text-decoration: underline;
}
#booksort .cat-sort dd {
	overflow: hidden;
	zoom: 1;
}
.cat-sort dd a {
	float: left;
	white-space: nowrap;
	display: block;
	text-decoration: none;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	margin: 4px 0px;
	text-align: left;
	padding: 0px 6px;
	border-left: 1px solid #ccc;
	color: #666;
}
.cat-sort dd a:hover{
	color: #76ac25;
}
.zuobian{
	padding-left: 15px;
}
.item:hover .next{
	display: block;
}
.item:hover{
	background: #fff;
}
.item:hover .zuobian a{
	color:#76ac25 ;
}
.item .zuobian a:hover{
	text-decoration: underline;
}

