/*轮播图*/
.banner img {
				width: 1263px;
				height: 555px;
				float: left;
			}
			
			.banner {
				width: 1263px;
				height: 555px;
				overflow: hidden;
				margin-bottom: 90px;
				border: 1px solid #ccc;
				position: relative;
			}
			
			.screen {
				width: 1263px;
				height: 555px;
				overflow: hidden;
				position: relative;
			}
			
			.screen li {
				position: absolute;
				left: 0;
				top: 0px;
				display: none;
			}
			
			.pic .active {
				display: block;
			}
			
			.point li {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				color: #fff;
			}
			
			.point .active {
				background: #FAA930;
			}
			
			.banner ol {
				position: absolute;
				right: 590px;
				bottom: 10px;
				line-height: 20px;
				text-align: center;
			}
			
			.banner ol li {
				float: left;
				width: 22px;
				height: 22px;
				border-radius: 100%;
				background: #525353;
				margin-left: 10px;
				cursor: pointer;
			}
			
			.banner ol li.current {
				background: #FAA930;
			}
/*优选*/
.bestbuy{width:1190px;}
.bestbuy .b_left{ width:945px;float:left; overflow:hidden; display:block;}
.bestbuy .b_left h2{line-height: 40px;}
.bestbuy .bbig{ border-left:1px solid #e8e8e8;  float:left; display:block; width:944px;border-top:1px solid #e8e8e8;}
.bestbuy .bbig li{ position:relative; height:258px; float:left; border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8; overflow:hidden; width:235px;}
.bestbuy .bbig li img{ width:204px; height:204px;float:right;margin-top:4px;}
.bestbuy .a_buy{font-size: 14px;line-height: 30px;margin-left: 10px;}
.bestbuy .a_price{color:#FF4700;font: bold 16px/18px Microsoft YaHei;margin-left: 10px;}
.bestbuy .a_price span{ font-size:12px;}
/*计入购物车按钮*/
.gBtn{width:160px;height:24px; border-radius:2px;background:#76ac25;opacity:0.95;cursor:pointer; margin-left:38px;display: none;position: absolute;top: 234px;}
.gBtn a{color: #fff;text-align: center;line-height: 24px;margin-left: 50px;}
/*rSide1*/
.rSide1{margin-top:40px;float:right; border:1px solid #E8E8E8;width:222px;height:517px;_height:459px;overflow:hidden;font-family:Microsoft YaHei;}
.rImg2{height:300px;width:222px; text-align:center;overflow:hidden;}
.rImg2 img{height:300px;width:220px;}
.sfNews{ margin:0 auto; width:202px; overflow:hidden;}
.rTitle{border-bottom:1px dotted #DBDBDB;overflow:hidden;padding:15px 0 10px 0;  line-height:14px; overflow:hidden; height:14px;}
.rTitle h2{padding:0;}
.sfNews h2{ color:#323232;font-size:14px;font-family:Microsoft YaHei;float:left; font-weight:normal;}
.sfNews .more{float:right;display:block;padding-top:2px;}
.sfNews a.more{color:#969696;text-decoration:none;}
.sfNews a.more:hover{color:#669900;}
.sfNews a:hover{color:#669900;}
.sfNews a.red:hover{ color:#fa6400; text-decoration:underline;}
.sfNews li{line-height:26px;height:26px;overflow:hidden;}
.sfNews ul{ margin:8px auto; height:156px;overflow:hidden;}
/*限时抢购*/
.indexW_left{margin-bottom: 30px;float: left;border: solid 1px #EEEEEE;margin-top: 30px;}
.timedbuy{background:#FFECBF;height:330px; width:945px; clear: both;}
.goods{width: 943px;height: 297px;overflow: hidden;}
.goods li{line-height: 25px;width: 175px;height: 297px;float: left;margin-left: 13px;box-sizing: border-box;}
.goods li img{border: solid 1px #EEEEEE;width: 164px;height: 164px;display: block;margin-top: 15px;}
.qg_btn{display: block;color: #fff;font-size: 14px;height: 28px;line-height: 28px;text-align: center;background-color: #ff7031;margin-top: 6px;font-family: 微软雅黑;}
.color_price{color:#FF4700;font: bold 16px/18px Microsoft YaHei;}
.timeno{background: #FF7031;width: 945px;height: 61px;line-height: 61px;}
.timeno span,.timeno a{font-size: 23px;color: #fff;}
.timeno a{float: right;}
/*限时抢购右侧广告位*/
.rSide2{float:right;width:222px;height:330px;overflow:hidden;margin-top: 30px;}
.rSide2 img{ width:222px; height:330px; }
/*广告图1*/
.longpic01{width: 1190px;height: 100px;clear: both;margin-bottom: 30px;}
/*index01*/
.index01{border-top: solid 1px #ADCD7C;overflow: hidden;border-top-left-radius: 10px;margin-bottom: 30px;}
.i_left,.i_right{float: left;}
.i_left{width: 250px;height: 470px;}
.index01 .i_left .tt{width: 240px;height: 50px;background: #76AC25;}
.index01 .i_left .tt li{line-height: 50px;text-align: center;float: left;margin-left: 60px;}
.index01 .i_left .tt li a{font-size: 16px;color: #fff;}
.tt:hover{background: #87C529;}
.subcont{width: 722px;height: 469px;float: left;border-bottom: 1px solid #F4F4F4;}
.subcont li{float: left;width: 172px;padding: 8px;box-sizing: border-box;margin-right: 8px;line-height: 30px;position: relative;}
.redge{width: 220px;height: 470px;background: #F4F4F4;float: right;padding: 28px 0 0 20px;box-sizing: border-box;}
.rhot li a{width: 55px;height: 55px;border-radius: 100%;background: #fff;text-align: center;line-height: 55px;float: left;margin-right: 10px;margin-bottom: 10px;}
.rhot li:hover a{background: #75A927;color: #fff;}
.rbutton{width: 25px;height: 25px;background: white;}
/*加入购物车按钮*/
.gg{width: 160px;height: 24px;line-height: 24px;background: #75A927;text-align: center;position: absolute;top:145px;display: none;}
.gg a{line-height: 24px;color: #fff;}
/*为你推荐*/
.top {width: 116px;height: 23px;position: relative;top:47px;left: 50%;margin-left: -58px;background: #fff;text-align: center;z-index: 22;}
.like{width: 1170px;height: 1848px;border: #f5f5f5 1px solid;padding: 30px 0px;position: relative;margin-top: 46px;clear: both;border: solid 1px #F5F5F5;margin-bottom: 30px;}
.like ul li{width: 210px;height: 308px;float: left;margin-left: 20px;line-height: 25px;}
/**/
.fff{height: 120px;width: 100%;background: #F5F5F5;}
/**/
#top{
	width: 40px;
	height: 40px;
	padding:4px;
	text-align: center;
	background: yellow;
	color: yellowgreen;
	border: yellowgreen;
	position: fixed;
	right: 0;
	top: 584px;
}
